.task-form {
  width: 100%;

  input {
    color: #FCFCFC;
    display: block;
    width: 80%;
    margin: 25px auto;
    background: transparent;
    border-bottom: 1px dashed #666;
    font-size: 42px;
    padding: 10px 5px;
  }
}